h1 {
  color: rgb(100, 100, 100);
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-color: #318fa0;
  border-style: solid;
  border-radius: 10px;
  background-color: lightgrey;
  display: inline;
}

h2 {
  color: rgb(100, 100, 100);
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
  color: #bd4b4b;
  font-weight: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  color: rgb(100, 100, 100);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: #318fa0;
  font-weight: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  color: #bd4b4b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  border-color: #318fa0;
  border-style: solid;
}

section {
  border: #318fa0;
  border-style: solid;
  background-color: lightgrey;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
  padding-right: 2rem;
  padding-left: 1rem;
  display: inline-block;
}

#portrait {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 1rem;
  border-color: #318fa0;
  border-style: solid;
}

header {
  text-align: center;
}

aside {
  text-align: center;
}

article {
  text-align: center;
}

nav {
  border-color: #318fa0;
  border-style: solid;
  display: inline-block;
  border-radius: 10px;
  padding-right: 2rem;
  padding-left: 2rem;
  background-color: lightgrey;
}

footer {
  text-align: center;
  background-color: lightgrey;
  margin: -0.5rem;
  padding-bottom: 1rem;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

#index {
  text-align: center;
  position: sticky;
  top: 0;
}

h3.center {
  color: rgb(100, 100, 100);
  font-weight: bold;
}

section.skills {
  position: static;
  margin-left: 1rem;
}

input,
select,
textarea {
  margin: 1rem;
  background-color: lightgrey;
  border-style: solid;
  border-color: #318fa0;
  color: rgb(100, 100, 100);
}

::placeholder {
  color: rgb(100, 100, 100);
}

:focus {
  outline-color: #318fa0;
}

label {
  width: 80px;
  text-align: right;
  display: inline-block;
  color: #bd4b4b;
}

label[for="comments"] {
  position: relative;
  bottom: 7rem;
}

button[type="submit"] {
  margin-left: 14rem;
  background-color: lightgrey;
  border-style: solid;
  border-color: #318fa0;
  color: rgb(100, 100, 100);
}

form {
  background-color: lightgrey;
  border-style: solid;
  border-color: #318fa0;
  padding-bottom: 1rem;
  padding-left: 1rem;
  display: inline-block;
  text-align: left;
}

#hero {
  background-image: url(bluegreybackground.jpg);
  background-repeat: round;
  background-color: lightgrey;
  margin: -0.5rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#intro {
  background-color: lightgrey;
  display: inline-block;
  margin-top: 1rem;
}

/* Laptop */
@media only screen and (max-width: 2560px) {
  section.skills {
    margin-left: 1rem;
  }

  textarea {
    width: 20rem;
    font-size: smaller;
  }

  button[type="submit"] {
    position: relative;
    right: 2rem;
    font-size: smaller;
  }

  p {
    font-size: medium;
  }

  h1 {
    font-size: x-large;
  }

  h2 {
    font-size: larger;
  }

  h3 {
    font-size: large;
  }

  #portrait {
    height: 200px;
    width: 200px;
  }

  h4 {
    font-size: medium;
  }

  label {
    font-size: small;
  }

  input {
    font-size: smaller;
  }

  select {
    font-size: smaller;
  }

  label[for="comments"] {
    position: relative;
    bottom: 6rem;
  }
}

/* Tablet 768*/
@media only screen and (max-width: 768px) {
  section.skills {
    margin-left: 1rem;
  }

  textarea {
    width: 15rem;
    font-size: x-small;
  }

  button[type="submit"] {
    position: relative;
    right: 4.3rem;
    font-size: x-small;
  }

  p {
    font-size: smaller;
  }

  h1 {
    font-size: large;
  }

  h2 {
    font-size: medium;
  }

  h3 {
    font-size: small;
  }

  #portrait {
    height: 150px;
    width: 150px;
  }

  h4 {
    font-size: smaller;
  }

  label {
    font-size: smaller;
  }

  input {
    font-size: x-small;
  }

  select {
    font-size: x-small;
  }

  label[for="comments"] {
    position: relative;
    bottom: 6rem;
  }
}

/* Mobile */
@media only screen and (max-width: 425px) {
  section.skills {
    margin-left: 1rem;
  }

  form {
    border-style: none;
  }

  textarea {
    width: 10rem;
    font-size: xx-small;
  }

  button[type="submit"] {
    position: relative;
    right: 6.7rem;
    font-size: xx-small;
  }

  p {
    font-size: xx-small;
  }

  h1 {
    font-size: small;
  }

  h2 {
    font-size: smaller;
  }

  h3 {
    font-size: x-small;
  }

  #portrait {
    height: 100px;
    width: 100px;
  }

  h4 {
    font-size: xx-small;
  }

  label {
    font-size: x-small;
  }

  input {
    font-size: xx-small;
  }

  select {
    font-size: xx-small;
  }

  label[for="comments"] {
    position: relative;
    bottom: 5.3rem;
  }
}
