h2 {
    margin-left: 2rem;
}

input,
select,
textarea {
  margin: 1rem;
}

label {
  width: 80px;
  text-align: right;
  display: inline-block;
}

input[type="submit"] {
  margin-left: 15rem;
  background-color: lightblue;
}

label[for="sex"],
[for="language"] {
  text-align: left;
}

input[value="Female"],
[value="Non-English"] {
  margin-left: -1rem;
}

#Non-English {
  margin-left: -3rem;
}

input[id="name"],
[id="address"] {
  width: 340px;
}

label[for="about"] {
  position: relative;
  bottom: 7rem;
}
